<h1>Parsed data</h1>

<div id="song-amplitude" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="peak-location" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
	lineChart(<%= $positive_points %>, [<%= $negative_points %>], 'song-amplitude');
	beatChart(<%= $peak_ranges %>, "peak-location");
</script>


<%= $data.length %>
