<!-- Footer for every page in our app -->
<footer class="footer">
  <small>
    Made by <a href="https://github.com/jessechisel126">Jesse Chisholm</a> and <a href="https://github.com/tots0tater">Ben Windishar-Tatham</a> with <a href="http://rubyonrails.org">Ruby on Rails</a>
  </small>
</footer>