<!-- Header for every page in our app -->
<header class="navbar navbar-fixed-top navbar-inverse navbar-center">
  <div class="container">
    <%= link_to "Cavern", '/', id: "logo" %>
  </div>
</header>